<!DOCTYPE HTML>
<html>
<body>
<div ng-app="module_controller">
<div ng-controller="MahasiswaController">
<div>
<ul>
<li><span ng-click="listMahasiswa()">List Mahasiswa</span></li>
<li><span ng-click="showMahasiswa()">Show Mahasiswa</span> <input name="id" placeholder="Id Mahasiswa"ng-model="mahasiswa.id" /></li>
<li>
<span ng-click="saveMahasiswa()">Create Mahasiswa : </span>
<input name="NRP" placeholder="NRP" ng-model="mahasiswa.NRP" /> &nbsp; 
<input name="Name" placeholder="Name" ng-model="mahasiswa.Nama" />&nbsp; 
<input name="Email" placeholder="Email" ng-model="mahasiswa.email" />
</li>
<li>
<span ng-click="updateMahasiswa()">Update Mahasiswa
</span>
<input name="id" placeholder="Id Mahasiswa" ng-model="mahasiswa.id" /> &nbsp; 
<input name="NRP" placeholder="NRP" ng-model="mahasiswa.NRP" />  &nbsp;                   <br />
<input name="Name" placeholder="Name" ng-model="mahasiswa.Nama" /> &nbsp; 
<input name="Email" placeholder="Email" ng-model="mahasiswa.email" />
</li>
<li><span ng-click="deleteMahasiswa()">Delete Mahasiswa</span> 
<input name="id" placeholder="Id Mahasiswa" ng-model="mahasiswa.id" /></li>
</ul>
</div>
<div>{{ mahasiswa.NRP }}</div>
<div>Name : {{ mahasiswa.Nama }} &nbsp; email : {{ mahasiswa.email }}</div>
<table>
<thead>
<tr>
<th width="50px">ID</th>
<th width="50px">NRP</th>
<th width="150px">Nama</th>
<th width="150px">Email</th>
</tr>
</thead>
<tbody style="text-align: center;">
<tr ng-repeat="data in mahasiswas.data">
<td>{{ data.id }}</td>
<td>{{ data.NRP }}</td>
<td>{{ data.Nama }}</td>
<td>{{ data.email }}</td>
</tr>
</tbody>
</table>
</div>
</div>

<script src="js/shared/angular.js"></script>
<script src="js/shared/angular-resource.js"></script>
<script src="js/controllers/mainController.js"></script>
</body>
</html>
